[Desktop Entry]
Name=GrabSCR
Icon=grabscr.png
Comment=Save images of your screen
Exec=grabscr %u
Version=0.0.7
Type=Application
Categories=Utility;
Terminal=false
